<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Account Details</h1>

	<dl class="dl-horizontal">
		<dt>Number</dt>
		<dd th:text="${account.id}">number</dd>
		<dt>Owner</dt>
		<dd th:text="${account.name}">number</dd>
		<dt>Balance</dt>
		<dd th:text="${account.points}">number</dd>
	</dl>
</body>
</html>
