<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Accounts by Name</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Balance</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="account : ${accounts}">
					<td><a href="account.html"
						th:href="@{|/accounts/${account.id}|}"
						th:text="|${account.id}|">11111111</a></td>
					<td th:text="${account.name}">Owner</td>
					<td th:text="${account.points}">0</td>
				</tr>
			</tbody>
		</table>
</body>
</html>
