<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Demo</h1>
	<ul class="openlist">
		<li>Eureka Dashboard: <a
			href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
			href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>
		<li>Account #2: <a th:href="@{/accounts/2}">/accounts/2</a></li>

		<li>Accounts: <a th:href="@{/accounts}">/accounts</a></li>

		<li>Account <a th:href="@{/accounts/search}">Search</a></li>
	</ul>
</body>
</html>
